body {
  background-image: url('https://th.gundam.info/images/gundaminfobox-global/article2/27.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Kanit', sans-serif;
}
